<!DOCTYPE html>
<html>
<head>
  <title>Stack</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<nav>
			<%= link_to "Stack", root_path %>
			<%= link_to "Featured", root_path(sort: :featured) %>
			<%= link_to "Top", root_path(sort: :popular) %>
			<%= link_to "Recent", root_path %>
			<%= link_to "Submit", new_story_path %>
		</nav>
	</header>

	<% flash.each do |key, value| %>
		<div class ="<%= key %>">value:<%= value %>
			<p><%= value %></p>
		</div>
	<% end %>
<article>
<%= yield %>
</srticle>
</body>
</html>
